In [1]:
import pandas as pd

In [6]:
df = pd.read_parquet("sample.parquet")

In [7]:
df

       key                                             sketch       uniques
0   key_10  b'?\xec\x10\x01\x94\x80=\x1b\x00\x00"j\x00\x00...  10046.138362
1    key_6  b'?\xedc\x07\x84\xf1\x1bD\x00\x00"\xe5\x00\x00...   9727.349500
2    key_9  b'?\xeccw\xe9\x14o*\x00\x00"\x92\x00\x00\x00\x...   9975.853489
3    key_1  b'?\xecf\x04\xf4\xe9q\xe9\x00\x00"\x83\x00\x00...   9955.450790
4    key_7  b'?\xed\x0b\x0b2A\xad{\x00\x00"\xe1\x00\x00\x0...   9838.054839
5    key_5  b'?\xed\xb9D\xe6\x1f\xe8\xc1\x00\x00"\xfd\x00\...   9642.942401
6    key_0  b'?\xec\x11\x8a~\x904\x95\x00\x00"r\x00\x00\x0...  10053.113059
7    key_2  b'?\xec\xba\x97\xd4\xf5\x02\xc3\x00\x00"\x95\x...   9861.018153
8    key_8  b'?\xec\xb7\x90Q[w\x18\x00\x00"\xd6\x00\x00\x0...   9937.512422
9    key_3  b'?\xed\x0b\x0b2A\xad{\x00\x00"\xe7\x00\x00\x0...   9844.665694
10   key_4  b'?\xedbW5-\x16\xcd\x00\x00"\xdf\x00\x00\x00\x...   9721.705963

In [8]:
counts = {}
for _, row in df.iterrows():
    key = row.key
    sketch = row.sketch
    uniques = row.uniques
    with open(f"tests/theta/resources/{key}.bin", "wb") as fp:
        fp.write(sketch)
    counts[key] = uniques

In [9]:
counts

{'key_10': 10046.138362093685,
 'key_6': 9727.349499608525,
 'key_9': 9975.8534894143,
 'key_1': 9955.450789817754,
 'key_7': 9838.054838833625,
 'key_5': 9642.942401494389,
 'key_0': 10053.11305903162,
 'key_2': 9861.01815298071,
 'key_8': 9937.512421806423,
 'key_3': 9844.665694364256,
 'key_4': 9721.705962611619}

In [10]:
df_final = pd.read_parquet("sample_join.parquet")

In [11]:
df_final

                                              sketch       uniques
0  b'?\xec\x10\x01\x94\x80=\x1b\x00\x00\xcc\x9f\x...  59732.901909

In [12]:
joint = df_final.iloc[0].sketch

In [13]:
type(joint)

bytes

In [14]:
with open("tests/theta/resources/joint.bin", "wb") as fp:
    fp.write(joint)